@font-face {
  font-family: 'iconfont';  /* project id 1077313 */
  src: url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.eot');
  src: url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1077313_cphg4fgnd3f.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
	content: "\e601";
}

.icon-cuo:before {
	content: "\e604";
}
